# Server Configuration
PORT=3000
GLOBAL_PREFIX=api

# Google Gemini AI Configuration
GEMINI_API_KEY=AIzaSyDDE3qZQpFeI60H51ivhX8Y54q1oaU3O3Q

# Pinecone Vector Database Configuration  
PINECONE_API_KEY=pcsk_7ACs6N_L5KeAoJhycf6J67t7VkKiukQNQPg8kaF48FS1dVFjswwwUMfg25ETYSKJdroLLw
PINECONE_INDEX_NAME=fpt-university-768d



# Database Configuration (MongoDB)
MONGODB_URI=mongodb://localhost:27017/FchatCareer

# JWT Configuration
JWT_SECRET=6200da6f197fc0dbd89c76e84d74f5fe97f9018b82eedb05a4cc992ef97ff012
JWT_ACCESS_TOKEN_SECRET=d7eb4e1b01c7416d331606536a42a29d74db79d3b9b27565292d6ba6fcc366d8
JWT_REFRESH_TOKEN_SECRET=54d582f4608c6d15d0528a0bc2dec565d7bc7251dd98febe487cc6ed607f9332
JWT_ACCESS_EXPIRE=900000
JWT_REFRESH_EXPIRE=86400000

# Redis Configuration
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

# Mail Configuration (for email verification)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=e7d1d6219f9a20
MAIL_PASS=3359f28db5f8fb
MAIL_FROM=sandbox.smtp.mailtrap.io

# Environment
NODE_ENV=development 